@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);
body {
  margin: 0;
  background-color: #5774b8;
}
.contenet {
  padding: 10em 0 0 0;
}
.heading {
  margin: auto;
  text-align: center;
  position: relative;
}
h1 {
  color: #fff;
  font-family: 'Cardo', serif;
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 2.2em;
}
em {
  font-family: 'EB Garamond', serif;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-style: normal;
  padding-top: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
  margin-left: 300px;
}

#quote{
  margin:0 auto;
  max-width: 80%;
}

#button{
    border: 1px solid white;
    width: 200px;
    padding:10px;
    margin: 0 auto;
    margin-top:50px;
    cursor: pointer;
}

/*Twitter*/
.tweet-post-class {
  display: block;
  height: auto;
  width: 280px;
  margin: 50px auto 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #ED327F;
  text-align: center;
  cursor: pointer;
}

a.tweet-post-class {
  color: #fff;
  text-decoration: none
}

a.tweet-post-class:visited {
  color: #fff
}

a.tweet-post-class:active,
a.tweet-post-class:hover {
  color: #fff;
  background-color: #55acee
}

#footer{
  position:absolute;
  padding:20px;
  color:white;
  bottom:0;
}